<div class="row marketing">
	<form role="form">
		<div class="form-group">
			<label for="comsubRegisterNameF">First name</label>
			<input type="email" class="form-control" id="comsubRegisterNameF" placeholder="First name">
		</div>
		<div class="form-group">
			<label for="comsubRegisterNameL">Last name</label>
			<input type="email" class="form-control" id="comsubRegisterNameL" placeholder="Last name">
		</div>
		<div class="form-group">
			<label for="comsubRegisterUsername">Username</label>
			<input type="email" class="form-control" id="comsubRegisterUsername" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="comsubRegisterEmail">Email address</label>
			<input type="email" class="form-control" id="comsubRegisterEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="comsubRegisterPassword">Password</label>
			<input type="password" class="form-control" id="comsubRegisterPassword" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="comsubRegisterCompany">Company</label>
			<input type="email" class="form-control" id="comsubRegisterCompany" placeholder="Company">
		</div>
		<a id="comsubRegisterSubmit" class="btn btn-default">Submit</a>
	</form>
</div>