<div class="row marketing">
	<form role="form">
		<div class="form-group">
			<label for="memberRegisterNameF">First name</label>
			<input type="email" class="form-control" id="memberRegisterNameF" placeholder="First name">
		</div>
		<div class="form-group">
			<label for="memberRegisterNameL">Last name</label>
			<input type="email" class="form-control" id="memberRegisterNameL" placeholder="Last name">
		</div>
		<div class="form-group">
			<label for="memberRegisterUsername">Username</label>
			<input type="email" class="form-control" id="memberRegisterUsername" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="memberRegisterEmail">Email address</label>
			<input type="email" class="form-control" id="memberRegisterEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="memberRegisterPassword">Password</label>
			<input type="password" class="form-control" id="memberRegisterPassword" placeholder="Password">
		</div>
		<div class="checkbox">
			<label>
				<input id="memberRegisterGold" type="checkbox"> Gold member
			</label>
		</div>
		<a id="memberRegisterSubmit" class="btn btn-default">Submit</a>
	</form>
</div>