<div class="row marketing">
	<form role="form">
		<div class="form-group">
			<label for="venownRegisterNameF">First name</label>
			<input type="text" class="form-control" id="venownRegisterNameF" placeholder="First name">
		</div>
		<div class="form-group">
			<label for="venownRegisterNameL">Last name</label>
			<input type="text" class="form-control" id="venownRegisterNameL" placeholder="Last name">
		</div>
		<div class="form-group">
			<label for="venownRegisterUsername">Username</label>
			<input type="text" class="form-control" id="venownRegisterUsername" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="venownRegisterEmail">Email address</label>
			<input type="email" class="form-control" id="venownRegisterEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="venownRegisterPassword">Password</label>
			<input type="password" class="form-control" id="venownRegisterPassword" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="venownRegisterPhone">Phone</label>
			<input type="tel" class="form-control" id="venownRegisterPhone" placeholder="Phone number">
		</div>
		<div class="form-group">
			<label for="venownRegisterAddress">Address</label>
			<textarea type="text" class="form-control" id="venownRegisterAddress" placeholder="Address"></textarea>
		</div>
		<a id="venownRegisterSubmit" class="btn btn-default">Submit</a>
	</form>
</div>