<div class="row marketing">
	<form role="form">
		<div class="form-group">
			<label for="venueRegisterName">Name</label>
			<input type="text" class="form-control" id="venueRegisterName" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="venueRegisterType">Type</label>
			<input type="text" class="form-control" id="venueRegisterType" placeholder="Type">
		</div>
		<div class="form-group">
			<label for="venueRegisterDescription">Description</label>
			<textarea type="text" class="form-control" id="venueRegisterDescription" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			<label for="venueRegisterAddress">Address</label>
			<textarea type="text" class="form-control" id="venueRegisterAddress" placeholder="Address"></textarea>
		</div>
		<a id="venueRegisterSubmit" class="btn btn-default">Submit</a>
	</form>
</div>